<p ng-hide="allStagesCompleted">Usuń etapy, które zostały już zrealizowane.</p>
<div ng-repeat="journey in journeyData" ng-hide="journey.hide" class="panel panel-primary">
    <div class="panel-body journeyStageContainer">
        <div class="col-sm-2 col-sm-15 col-xs-12">{{journey.date | date:'MM-dd-yyyy'}}</div>
        <div class="col-sm-2 col-sm-15 col-xs-12">{{journey.busStop}}</div>
        <div class="col-sm-2 col-sm-15 col-xs-4">{{journey.lineNo}}</div>
        <div class="col-sm-2 col-sm-15 col-xs-4">{{journey.departure | date:'HH:mm'}}</div>
        <div class="col-sm-2 col-sm-15 col-xs-4">
            <button ng-click="markComplete($index)" type="button" class="btn btn-sm btn-danger">Usuń</button>
        </div>
    </div>
</div>
<div ng-show="allStagesCompleted" class="alert alert-success">Wszystkie etapy tej podróży zostały zrealizowane.</div>