<div class="form-group">
    <label for="disabledSelect2">Przystanek</label>
    <select ng-model="myStop"
            ng-options="stop.name for stop in stops"
            ng-change="addStop(myStop.name)"
            id="disabledSelect2"
            class="form-control">
        <option value="">Wybierz przystanek</option>
    </select>
</div>

<div class="form-group">
    <label for="disabledSelect3">Linia</label>
    <select ng-change="addLine(myLine)"
            ng-options="line.name for line in uniqueLines"
            ng-model="myLine"
            id="disabledSelect3"
            class="form-control">
        <option value="">Wybierz linię</option>
    </select>
</div>