<div class="form-group">
    <label for="disabledSelect2">Przystanek</label>
    <select ng-model="myStop"
            ng-change="addStop(myStop)"
            id="disabledSelect2"
            class="form-control">
        <option ng-repeat = "stop in stops">{{stop.name}}</option>
    </select>
</div>
<!--add disabled="disabled" to selects-->

<div class="form-group">
    <label for="disabledSelect3">Linia</label>
    <select ng-change="addLine(myLine)"
            ng-model="myLine"
            id="disabledSelect3"
            class="form-control">
        <option  ng-repeat = "line in accumulator track by $index">{{line.name}}</option>
    </select>
</div>