<div ng-repeat="trip in trips" class=" panel panel-primary">

    <div class="tripDate col-xs-12"> Data planowanej podróży: {{trip.date | date:'dd-MM-yyyy' }}
        <button ng-click="trip.active = true; trip.sentToCompletion = true; trip.id = generateId(); changeState()"
                ng-hide="trip.sentToCompletion" type="button" class="buttonTrip btn btn-sm btn-info">
            Przejdź do realizacji
        </button>
        <hr>
    </div>
    <div ng-repeat="stage in trip.stages" class="panel-body journeyStageContainer">
        <div class="col-sm-3 col-xs-3">{{stage.stop}}</div>
        <div class="col-sm-3 col-xs-3">{{stage.line}}</div>
        <div class="col-sm-3  col-xs-3">{{stage.departureTime | date:'HH:mm'}}</div>
        <!--<div class="col-sm-3  col-xs-3"><button ng-click="deleteJourney(instanceA)" type="button" class="btn btn-sm btn-danger">Usuń</button>-->
    </div>

</div>
</div>
</div>


