#my-signin2 {
    position: absolute;
    width: 250px;
    left:50%;
    margin-left: -125px;
}

.popup {
    position: absolute;
    background-color: white;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 200px;
    left: 50%;
    margin-left:-200px;
    text-align: center;
    width: 400px;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
    -webkit-box-shadow: 4px -2px 23px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 4px -2px 23px 0 rgba(0,0,0,0.75);
    box-shadow: 4px -2px 23px 0 rgba(0,0,0,0.75);
}

.popup:hover {
    -webkit-box-shadow: 4px -2px 14px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 4px -2px 14px 0 rgba(0,0,0,0.75);
    box-shadow: 4px -2px 14px 0 rgba(0,0,0,0.75);
}

.popup>span {
    position: absolute;
    top:2px;
    right: 2px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 2px 3px 4px #666;
}

.popup>span:hover {
    text-shadow: 1px 1px 1px #666;
}