body {
    font-family: 'Play', sans-serif;
}

.hide {
    display:none;
}

main {
    background-image: url("images/foto_background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    padding-bottom: 30px;
    padding-top: 30px;
}

#header{
    -webkit-box-shadow: 5px 5px 25px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 25px -4px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 25px -4px rgba(0, 0, 0, 1);
}
#header img{
    opacity: 0.8;
}

.helloUser{
    margin-top: 10px;
}
.icones img {
    height:50px;
    margin-top:55px;
}
.icones{
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.icones:hover{
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

h3{
    font-size: 30px;
}

th{
    font-size: 20px;
}

#pickYourStops,#filtersId,#yourStop,#lineStats, #journeyCompletion, #yourPlannedJourney {
    padding: 10px;
    border: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(250,250,250, 0.8);
}


#js-pickYourStops{
    padding:20px;
}

#js-yourStopInfo, #filtersDiv{
    padding:20px;
    padding-top:0;
    padding-bottom: 0;
}

h3.wrapper{
    background-color: rgba(250,250,250, 0.8);
    margin-top:0;
}

div.stopTimetable.wrapper {
    background-color: rgba(250,250,250, 0.8);
}
div.yourStop {
    background-color: rgba(250,250,250, 0.5);
    margin-bottom: 10px;
}

div.yourStop td {
    background-color: #d7ccbe;
}
.removeStopBtn {
    border-radius: 50%;
    padding: 0.1em;
    width: 1.8em;
    float: right;
    font-weight: bold;
}

.wrapper{
    background-color: rgba(250,250,250, 0.5);
    padding: 20px;
}

 .yourStop.wrapper, #js-lineStats div.wrapper {
    -webkit-box-shadow: 5px 5px 18px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 18px -4px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 18px -4px rgba(0, 0, 0, 1);
}


h3.wrapper, .stopTimetable.wrapper {
    border: 1px solid lightgray
}

#filtersDiv div.form-inline.wrapper{
    padding-bottom: 0;
    padding-top:0;
}

#js-pickYourStops div.form-inline.wrapper{
    padding-top:0;
}

#js-lineStats{
    padding:20px;
    padding-top:0;
}

.tripDate{
    padding: 20px 20px 0px 20px;
    font-size: larger;
    text-align: center;
}

.buttonTrip {
    padding: 20px;
}

.footer_style {
    padding-top: 10px;
    background-color: #282828;
    border-bottom: solid 10px #0f1214;
}

.footer_image {
    text-align: center;
}

.footer_image img {
    height: 80px;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}

.footer_style p {
    padding-top: 10px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: normal;
}

@media screen and (max-width: 420px){

    .icones img {
        height:30px;
        margin-top:25px;
    }
}

form {
    background-color: white;
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}
.datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px;
}
.row {
    margin-right:0;
}

@media (min-width: 768px){
    .col-sm-15 {
        width: 20%;
    }
    .journeyStageContainer {
        text-align: center;
    }
}
